[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod
[submodule "themes/SolaRain"]
	path = themes/SolaRain
	url = https://github.com/RyanTsi/SolaRain.git
